*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#start-menu, #escape-menu, #end-menu, #rulesPage, #victory-menu, #settingPage, #controlsPage, #logInPage, #pause-menu, #creditsPage, #escape-menu, #languagePage, #audioPage{
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 20rem;
    height: 25rem;
    background-color: #f0f0f0;
    border-radius: 0.3rem;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
z-index: 1;
}
#pause-menu{
    background: transparent;
    box-shadow: none;
}
button {
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.3rem;
}
button#start:hover, button#setting:hover, button#restart:hover, button#gameRules:hover, button#credits:hover, button#rulesPageBack:hover, button#nextLevel:hover, button#controls:hover, button#language:hover, button#audio:hover, button#settingPageBack:hover, button#controlsPageBack:hover, button#controlsPageConfirm:hover, button#languagePageConfirm:hover, button#logIn:hover, button#logOut:hover, button#creditsPageBack:hover, button#languagePageBack:hover, button#audioPageConfirm:hover, button#audioPageBack:hover, button#continue:hover, button#exitMainMenu:hover, button#escapeGameRules:hover, button#escapeSetting:hover {
    background-color: #130c52;
    transition: background-color ease-in 0.5s;
}
#start, #rulesPageBack, #nextLevel, #restart, #settingPageBack, #controlsPageBack, #controlsPageConfirm, #logIn, #creditsPageBack, #languagePageConfirm, #languagePageBack, #audioPageConfirm, #audioPageBack, #continue{
    font-size: 1.1rem;
    font-family: 'Fredoka One', cursive;
    background-color: #3221cf;
}
#placeForCredits{
    max-height: 17rem;
    font-size: 0.9rem;
    font-family: 'Fredoka One', cursive;
    padding: 0.5rem;
    overflow: hidden;
}
input{
    font-size: 1rem;
    font-family: 'Fredoka One', cursive;
    padding: 0.3rem;
    margin: 0.5rem;
    background-color: #c9c5c5;
    border: 0.1rem solid #c9c5c5;
    border-radius: 0.3rem;
    outline-style: none;
    transition: border ease-in 0.7s;
}
input:focus{
    border: 0.1rem solid #442fffad;
}
.invalidInput{
    border: 0.1rem solid #f30808;
}
label{
    text-align: left;
    font-size: 1rem;
    font-family: 'Fredoka One', cursive;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
#invalidTxtUser, #invalidTxtPass{
    text-align: left;
    color: #f30808;
    font-size: 0.8rem;
    margin-top: 0;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: all ease-in-out 0.7s;
}
#controlsPageConfirm, #languagePageConfirm, #audioPageConfirm{
    visibility: hidden;
    opacity: 0;
    transition: opacity ease-in 0.9s;
}
#setting, #gameRules, #credits, #controls, #language, #audio, #logOut, #exitMainMenu, #escapeGameRules, #escapeSetting{
    font-size: 1.1rem;
    font-family: 'Fredoka One', cursive;
    background-color: #442fffad;
}
span#moveUp, span#moveDown, span#moveLeft, span#moveRight, span#run, span#pause, span#mainMenu{
    float: right;
}
.active{
    color: #442fffad;
}
#gameOverImg{
    width: 19rem;
    height: 17rem;
    margin: 0.5rem;
}
.languageOption, #musicOptions, #soundEffectOptions{
    margin: 0.5rem;
}
.languageOption label  {
    font-size: 1.5rem;
    font-family: 'Fredoka One', cursive;
    background-color: #f0f0f0;
    color:  #000000;
    transition: all 1ms ease-in;
}
.languageOption input[type=radio]{
    display: none;
}
.languageOption input:checked + .languageOption label{
    background-color: #442fffad;
    color: #ffffff;
}
#musicVolumeController, #soundEffectVolumeController{
    width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
}
h1{
    font-size: 2.3rem;
     margin-bottom: 1rem;
     color:  #000000;
     font-family: 'Fredoka One', cursive;
}
p {
    font-size: 1rem;
    font-family: 'Fredoka One', cursive;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h2{
    text-align: left;
    color:  #000000;
    font-family: 'Fredoka One', cursive;
    padding: 0.5rem;
}
#pause-menu h2{
    text-align: center;
}
#victory-menu h2{
    text-align: center;
}
ul{
    text-align: left;
    list-style: none;
    margin: 0.5rem;
    color:  #000000;
    font-family: 'Fredoka One', cursive;
}
#score{
    margin-right: 0.2rem;
}
#points {
    margin-left: 0.2rem;
    width: 7rem;
}
#lives {
    margin-left: 1rem;
    margin-right: 0.2rem;
}
#heart {
    width: 1.4rem;
    height: 1.4rem;
    display: none;
}
canvas{
    display: block;
}
#player, #poo, #enemy {
display: none;
background-color: transparent;
}
#toolbar{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    font-size: 1.1rem;
    color:  #000000;
    font-family: 'Fredoka One', cursive;
    padding: 1rem;
}
#nrOne, #nrTwo, #nrThree{
    display: none;
    opacity: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 5rem;
    height: 5rem;
    transition: opacity ease-in 35ms;
}
#go{
    display: none;
    opacity: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 12rem;
    height: 5rem;
    transition: opacity ease-in 35ms;
}